---
import { CardAnimation } from "../../../components/animations/CardAnimation";
import Layout from "../../../layouts/Layout.astro";
---

<Layout title="Card Animation">
  <div class="bg-[#14141f] h-screen">
    <CardAnimation client:visible />
  </div>
</Layout>
